In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
cars_df=pd.read_csv("CARS.csv")

In [4]:
cars_df.shape

(429, 15)

In [6]:
cars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429 entries, 0 to 428
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Make         429 non-null    object
 1   Model        429 non-null    object
 2   Type         429 non-null    object
 3   Origin       429 non-null    object
 4   DriveTrain   429 non-null    object
 5   MSRP         429 non-null    object
 6   Invoice      429 non-null    object
 7   EngineSize   429 non-null    float64
 8   Cylinders    427 non-null    float64
 9   Horsepower   429 non-null    int64
 10  MPG_City     429 non-null    int64
 11  MPG_Highway  429 non-null    int64
 12  Weight       429 non-null    int64
 13  Wheelbase    429 non-null    int64
 14  Length       429 non-null    int64
dtypes: float64(2), int64(6), object(7)
memory usage: 50.4+ KB

In [10]:
cars_df.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225,18,24,3880,115,197

In [12]:
cars_df.tail()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
424,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242,20,26,3450,105,186
425,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268,19,26,3653,110,190
426,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170,22,29,2822,101,180
427,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208,20,27,3823,109,186
428,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208,20,27,3823,109,186

In [14]:
cars_df.columns

Index(['Make', 'Model', 'Type', 'Origin', 'DriveTrain', 'MSRP', 'Invoice',
       'EngineSize', 'Cylinders', 'Horsepower', 'MPG_City', 'MPG_Highway',
       'Weight', 'Wheelbase', 'Length'],
      dtype='object')

In [16]:
cars_df.rename(columns={'MSRP':'MRP', 'MPG_City':'Mileage_City', 'MPG_Highway':'Mileage_Highway'}, inplace=True)

In [17]:
cars_df.columns

Index(['Make', 'Model', 'Type', 'Origin', 'DriveTrain', 'MRP', 'Invoice',
       'EngineSize', 'Cylinders', 'Horsepower', 'Mileage_City',
       'Mileage_Highway', 'Weight', 'Wheelbase', 'Length'],
      dtype='object')

In [20]:
cars_df.describe()

,EngineSize,Cylinders,Horsepower,Mileage_City,Mileage_Highway,Weight,Wheelbase,Length
count,429.000000,427.000000,429.000000,429.000000,429.000000,429.000000,429.000000,429.000000
mean,3.195105,5.805621,215.867133,20.060606,26.843823,3578.524476,108.156177,186.361305
std,1.107810,1.557103,71.753072,5.232095,5.734495,758.188346,8.302198,14.341219
min,1.300000,3.000000,73.000000,10.000000,12.000000,1850.000000,89.000000,143.000000
25%,2.400000,4.000000,165.000000,17.000000,24.000000,3105.000000,103.000000,178.000000
50%,3.000000,6.000000,210.000000,19.000000,26.000000,3476.000000,107.000000,187.000000
75%,3.900000,6.000000,255.000000,21.000000,29.000000,3977.000000,112.000000,194.000000
max,8.300000,12.000000,500.000000,60.000000,66.000000,7190.000000,144.000000,238.000000

In [21]:
cars_df.columns

Index(['Make', 'Model', 'Type', 'Origin', 'DriveTrain', 'MRP', 'Invoice',
       'EngineSize', 'Cylinders', 'Horsepower', 'Mileage_City',
       'Mileage_Highway', 'Weight', 'Wheelbase', 'Length'],
      dtype='object')

In [22]:
cars_df.drop('Model', axis=1, inplace=True)

In [23]:
cars_df.columns

Index(['Make', 'Type', 'Origin', 'DriveTrain', 'MRP', 'Invoice', 'EngineSize',
       'Cylinders', 'Horsepower', 'Mileage_City', 'Mileage_Highway', 'Weight',
       'Wheelbase', 'Length'],
      dtype='object')

In [24]:
cars_df.drop(['MRP','Invoice'], axis=1, inplace=True)

In [25]:
cars_df.columns

Index(['Make', 'Type', 'Origin', 'DriveTrain', 'EngineSize', 'Cylinders',
       'Horsepower', 'Mileage_City', 'Mileage_Highway', 'Weight', 'Wheelbase',
       'Length'],
      dtype='object')

In [29]:
cars_df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
424    False
425    False
426    False
427    False
428     True
Length: 429, dtype: bool

In [30]:
cars_df.duplicated().sum()

22

In [31]:
cars_df.drop_duplicates(inplace=True)

In [32]:
cars_df.duplicated().sum()

0

In [33]:
cars_df.isnull().sum()

Make               0
Type               0
Origin             0
DriveTrain         0
EngineSize         0
Cylinders          2
Horsepower         0
Mileage_City       0
Mileage_Highway    0
Weight             0
Wheelbase          0
Length             0
dtype: int64

In [34]:
cars_df['Cylinders'].mean()

5.817283950617284

In [35]:
cars_df['Cylinders'].fillna(cars_df['Cylinders'].mean(), inplace=True)

C:\Users\DSU-CSE513-16\AppData\Local\Temp\ipykernel_8252\3381060714.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cars_df['Cylinders'].fillna(cars_df['Cylinders'].mean(), inplace=True)

In [36]:
cars_df.isnull().sum()

Make               0
Type               0
Origin             0
DriveTrain         0
EngineSize         0
Cylinders          0
Horsepower         0
Mileage_City       0
Mileage_Highway    0
Weight             0
Wheelbase          0
Length             0
dtype: int64

In [39]:
cars_df.dtypes

Make                object
Type                object
Origin              object
DriveTrain          object
EngineSize         float64
Cylinders          float64
Horsepower           int64
Mileage_City         int64
Mileage_Highway      int64
Weight               int64
Wheelbase            int64
Length               int64
dtype: object

In [41]:
cars_df['Cylinders']=cars_df['Cylinders'].astype(np.int64)

In [42]:
cars_df.dtypes

Make                object
Type                object
Origin              object
DriveTrain          object
EngineSize         float64
Cylinders            int64
Horsepower           int64
Mileage_City         int64
Mileage_Highway      int64
Weight               int64
Wheelbase            int64
Length               int64
dtype: object

In [43]:
cars_df['Make']

0      Acura
1      Acura
2      Acura
3      Acura
4      Acura
       ...
423    Volvo
424    Volvo
425    Volvo
426    Volvo
427    Volvo
Name: Make, Length: 407, dtype: object

In [44]:
cars_df[['Make','Origin' ,'Type','DriveTrain' ]]

      Make  Origin   Type DriveTrain
0    Acura    Asia    SUV        All
1    Acura    Asia  Sedan      Front
2    Acura    Asia  Sedan      Front
3    Acura    Asia  Sedan      Front
4    Acura    Asia  Sedan      Front
..     ...     ...    ...        ...
423  Volvo  Europe  Sedan      Front
424  Volvo  Europe  Sedan      Front
425  Volvo  Europe  Sedan      Front
426  Volvo  Europe  Wagon      Front
427  Volvo  Europe  Wagon        All

[407 rows x 4 columns]

In [45]:
cars_df['Origin'].unique()

array(['Asia', 'Europe', 'USA'], dtype=object)

In [47]:
cars_df.loc[0,'Make']

'Acura'

In [51]:
cars_df.loc[0:2,'Make':'EngineSize']

    Make   Type Origin DriveTrain  EngineSize
0  Acura    SUV   Asia        All         3.5
1  Acura  Sedan   Asia      Front         2.0
2  Acura  Sedan   Asia      Front         2.4

In [50]:
cars_df.loc[[0,23,423],['Make','Type','Mileage_City']]

      Make    Type  Mileage_City
0    Acura     SUV            17
23    Audi  Sports            21
423  Volvo   Sedan            21

In [54]:
cars_df.iloc[0:5, 0:3]

    Make   Type Origin
0  Acura    SUV   Asia
1  Acura  Sedan   Asia
2  Acura  Sedan   Asia
3  Acura  Sedan   Asia
4  Acura  Sedan   Asia

In [56]:
cars_df.iloc[0,0]

'Acura'

In [57]:
cars_df.loc[cars_df['Origin'] == 'Asia', :]

,Make,Type,Origin,DriveTrain,EngineSize,Cylinders,Horsepower,Mileage_City,Mileage_Highway,Weight,Wheelbase,Length
0,Acura,SUV,Asia,All,3.5,6,265,17,23,4451,106,189
1,Acura,Sedan,Asia,Front,2.0,4,200,24,31,2778,101,172
2,Acura,Sedan,Asia,Front,2.4,4,200,22,29,3230,105,183
3,Acura,Sedan,Asia,Front,3.2,6,270,20,28,3575,108,186
4,Acura,Sedan,Asia,Front,3.5,6,225,18,24,3880,115,197
...,...,...,...,...,...,...,...,...,...,...,...,...
396,Toyota,Sports,Asia,Rear,1.8,4,138,26,32,2195,97,153
397,Toyota,Truck,Asia,Rear,2.4,4,142,22,27,2750,103,191
398,Toyota,Truck,Asia,Rear,3.4,6,190,16,18,3925,128,218
399,Toyota,Truck,Asia,All,3.4,6,190,14,17,4435,128,218
400,Toyota,Wagon,Asia,Front,1.8,4,130,29,36,2679,102,171

In [58]:
cars_df.loc[cars_df['Mileage_City'] >50, :]

,Make,Type,Origin,DriveTrain,EngineSize,Cylinders,Horsepower,Mileage_City,Mileage_Highway,Weight,Wheelbase,Length
150,Honda,Hybrid,Asia,Front,2.0,3,73,60,66,1850,95,155
373,Toyota,Hybrid,Asia,Front,1.5,4,110,59,51,2890,106,175

In [59]:
cars_num_df= cars_df.select_dtypes(include=np.number)

In [61]:
cars_num_df.dtypes

EngineSize         float64
Cylinders            int64
Horsepower           int64
Mileage_City         int64
Mileage_Highway      int64
Weight               int64
Wheelbase            int64
Length               int64
dtype: object

In [62]:
cars_cat_df= cars_df.select_dtypes(exclude=np.number)

In [64]:
cars_cat_df.dtypes

Make          object
Type          object
Origin        object
DriveTrain    object
dtype: object